{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "vitest"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:vitest/recommended",
    "plugin:node/recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-parameter-properties": "off",
    "@typescript-eslint/explicit-function-return-type": [
      "warn",
      { "allowExpressions": true }
    ],
    "node/no-unsupported-features/es-syntax": [
      "error",
      {
        "ignores": ["modules"]
      }
    ]
  },
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "settings": {
    "node": {
      "tryExtensions": [".ts", ".js", ".cjs", ".mjs", ".json", ".node"]
    }
  },
  "overrides": [
    {
      "files": ["*.{js,cjs}"],
      "rules": {
        "@typescript-eslint/no-var-requires": "off",
        "@typescript-eslint/explicit-function-return-type": "off"
      }
    },
    {
      "files": ["examples/**/*.ts"],
      "rules": {
        "node/no-missing-import": "off"
      }
    },
    {
      "files": ["**/__tests__/**/*.{js,mjs,ts}"],
      "rules": {
        "@typescript-eslint/ban-ts-comment": "off",
        "node/no-unpublished-import": "off"
      }
    }
  ]
}
